In [6]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd
import time
from config import password
url = "https://www.americashealthrankings.org/explore/annual"

In [7]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
browser.visit(url)
time.sleep(1)

In [8]:
# tabs = soup.find_all('div',class_='dashboard-group-banner')
browser.links.find_by_text('National Overall')
time.sleep(1)
html = browser.html
soup = bs(html,'html.parser')
table =soup.find_all('table')


table=pd.read_html(str(table[1]))
df_health_rank=table[0]

df_health_rank.to_csv (r'..\healthRankings.csv', index = False, header=True)
healthRankTable = df_health_rank.to_html(index=False)

df_health_rank.head()

           State Rank  Value
0        Vermont    1  0.850
1  Massachusetts    2  0.848
2         Hawaii    3  0.840
3    Connecticut    4  0.734
4           Utah    5  0.628

In [9]:
# Import methods to connect to DBs and create classes
from sqlalchemy import create_engine
# from sqlalchemy.ext.declarative import declarative_base

# # Declare column types
# from sqlalchemy import Column, Integer, String

In [10]:
# Connect to postgresql db
from config import password

engine = create_engine(f"postgresql://postgres:{password}@localhost:5432/Poverty_and_wellness")
conn = engine.connect()

df_health_rank.to_sql('state_health_rankings', conn, if_exists='replace', index=False)
engine.execute("SELECT * FROM state_health_rankings").fetchall()

[('Vermont', '1', '0.850'),
 ('Massachusetts', '2', '0.848'),
 ('Hawaii', '3', '0.840'),
 ('Connecticut', '4', '0.734'),
 ('Utah', '5', '0.628'),
 ('New Hampshire', '6', '0.605'),
 ('Minnesota', '7', '0.571'),
 ('New Jersey', '8', '0.553'),
 ('Washington', '9', '0.540'),
 ('Colorado', '10', '0.537'),
 ('New York', '11', '0.512'),
 ('California', '12', '0.398'),
 ('Rhode Island', '13', '0.378'),
 ('North Dakota', '14', '0.371'),
 ('Virginia', '15', '0.349'),
 ('Idaho', '16', '0.333'),
 ('Nebraska', '17', '0.321'),
 ('Maryland', '18', '0.312'),
 ('Wyoming', '19', '0.298'),
 ('Iowa', '20', '0.289'),
 ('Maine', '21', '0.248'),
 ('Oregon', '22', '0.232'),
 ('Wisconsin', '23', '0.203'),
 ('Montana', '24', '0.202'),
 ('South Dakota', '25', '0.149'),
 ('Illinois', '26', '0.094'),
 ('Alaska', '27', '0.074'),
 ('Pennsylvania', '28', '0.002'),
 ('Kansas', '29', '-0.021'),
 ('Delaware', '30', '-0.088'),
 ('Arizona', '31', '-0.148'),
 ('Michigan', '32', '-0.209'),
 ('Florida', '33', '-0.213'),
 ('Texas', '34', '-0.244'),
 ('Nevada', '35', '-0.256'),
 ('North Carolina', '36', '-0.263'),
 ('New Mexico', '37', '-0.266'),
 ('Ohio', '38', '-0.401'),
 ('Missouri', '39', '-0.413'),
 ('Georgia', '40', '-0.447'),
 ('Indiana', '41', '-0.493'),
 ('South Carolina', '42', '-0.595'),
 ('Kentucky', '43', '-0.609'),
 ('Tennessee', '44', '-0.641'),
 ('West Virginia', '45', '-0.657'),
 ('Oklahoma', '46', '-0.777'),
 ('Alabama', '47', '-0.820'),
 ('Arkansas', '48', '-0.836'),
 ('Louisiana', '49', '-0.912'),
 ('Mississippi', '50', '-1.005'),
 ('United States', '•', '•')]